body {
    background-image: url('/media/fon.png');
    background-size: 700px; 
    background-position: center; 
}

/* устанавливаю ширину поля и централизую её */
.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative; /* Добавляем позиционирование для контейнера */
}

.game {
    grid-area: content;
}

/*работа с полем*/
.board {
    display: grid; /*расположение эл-ов */
    grid-template-columns: repeat(3, 0fr);
    margin: auto;
}

/*работа с ячейками*/
.cell {
    width: 180px;
    height: 180px;
    border: 0.5px solid black; /*сами ячейки ширина обрамления*/
    display: flex; /*централизую*/
    justify-content: center; /*выравниваю штуки*/
    align-items: center;
    font-size: 30px;
    cursor: pointer;/*проверка тыканья*/
}

/*вывод сообщения при победе/ничьей */
#message {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.player1, .player2 {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%); /* Центрирование фигуры */
    transition: bottom 1.4s /* Плавное движение фигуры */

}

.player1 {
    background-color: #fffb00;
}

.player2 {
    background-color: #ff0000;
}

/*установление "заморроженного" места кнопок выбора и вкл/выкл музыки, а также заголовка*/
#musicSelect {
    width: 80px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    
}

#toggleMusicBtn {
    width: 80px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 90px; /* Расстояние между кнопками */
    margin: 10px;
}

h1 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 979.5px) {

    .container {
        position: absolute;
        height: 1300px;
    }

    #message {
        position: absolute;
        top:calc(3.5%);
        left:calc(67%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .board {
        margin-top: 18%;
        margin-left: 22%;
    }

    #player1-Score {
        position: absolute;
        left: calc(22% + 230px);
        margin: calc(18% - 100px);
    }

    #player2-Score {
        position: absolute;
        left: calc(22% + 200px);
        margin: calc(18% - 80px);
    }

    #resetGameBtn {
        position: absolute;
        left: calc(22% + 160px);
        margin: calc(18% - 60px);
    }

    #map {
        margin-top: 17%;
        margin-left: 29%;
    }

    #restBtn {
        position: absolute;
        left: calc(22% + 210px);
        margin: calc(3% + 4px);
    }

    #player1, #player2 {
        position: absolute;
        left: calc(37% + 180px); /* Позиция относительно #map лево-право*/
        transition: top 0.5s ease; /* Добавляем анимацию для свойства top */
    }

    .game {
        transform: scale(0.9);
    }

    #gameModeSelect {
        position: fixed;
        top: -65px; 
        right: 470px; 
    }
}

@media screen and (min-width: 980px) {

    .container {
        height: 110px;
    }

    #message {
        position: absolute;
        top:calc(49%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #player1-Score, #player2-Score {
        margin-left: 5.5%;
        top: 50%;
    }

    #resetGameBtn {
        margin-left: 5.5%;
    }

    .board {
        transform: scale(0.9);
        left: -5.5%;

    }

    #map {
        margin-left: 110%;
        margin-top: -105%;
    }

    #restBtn {
        margin-left: 4.5%;
        top: -60%;
    }

    #player1, #player2 {
        position: absolute;
        left: calc(110% + 221px);/* Позиция относительно #map лево-право*/
        transition: top 0.5s ease; /* Добавляем анимацию для свойства top */
    }

    .game {
        margin-top: 10%;
        transform: scale(0.75);
    }

    #gameModeSelect {
        position: fixed;
        top: -110px; 
        right: 670px; 
    }
}

@media screen and (min-width: 1200px) {

    .container {
        height: 100%;
    }

    #message {
        position: absolute;
        top:calc(7%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #player1-Score, #player2-Score {
        margin-left: 6%;
    }

    #resetGameBtn {
        margin-left: 5%;
    }

    #map {
        margin-left: 120%;
        margin-top: -110%;
    }

    #restBtn {
        margin-left: 4.5%;
        top: -60%;
    }

    #player1, #player2 {
        position: absolute;
        left: calc(110% + 274px); /* Позиция относительно #map лево-право*/
        transition: top 0.5s ease; /* Добавляем анимацию для свойства top */
    }

    .game {
        margin-top: 3%;
        transform: scale(0.9); 
    }

    #gameModeSelect {
        position: fixed;
        top: -70px; 
        right: 605px;
    }
}
