body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* устанавливаю ширину поля и централизую её */
.container{ 
    max-width: 23%;
    margin-left: 25%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 10%;
}

/*работа с полем*/
.board{
    display: grid; /*расположение эл-ов */
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

/*работа с ячейуами*/
.cell{
    width: 200px;
    height: 200px;
    border: 0.5px solid black; /*сами ячейки ширина обрамления*/
    display: flex; /*централизую*/
    justify-content: center; /*выравниваю штуки*/
    align-items: center;
    font-size: 30px; 
    cursor: pointer; /*проверка тыканья*/
}
